.heading-block {
 > *:not(:last-child) {
		margin-bottom: var(--spacing-sm);
 }
}
.heading-block__label {
	text-transform: uppercase;
	font-size: var(--text-s);
	letter-spacing: 0.15rem;
}
.heading-block__title {
	font-family: var(--font-family-serif);
	font-size: var(--heading-lg);

	@media (width < 48em) {
		font-size: var(--heading-md);
	}
}