@layer reset {
	*,
	*::before,
	*::after {
		padding: 0;
		margin: 0;
		border: 0;
		box-sizing: border-box;
	}
	a {
		text-decoration: none;
	}
	ul,
	ol,
	li {
		list-style: none;
	}
	img {
		vertical-align: top;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: inherit;
		font-size: inherit;
	}
	html {
		/* резервує місце під скролбар ще до його появи, */
		/* тому при відкритті/закритті модального вікна сторінка не “стрибає” через появу/зникнення смуги прокрутки. */
		scrollbar-gutter: stable;
	}
	html,
	body {
		height: 100%;
		line-height: 1;
	}

	a, button {
		cursor: pointer;
		background-color: inherit;
		font-weight: inherit;
		font-size: inherit;
		color: inherit;
	}

	svg {
		color: currentColor;
	}
}
