@layer reset;

@import "tokens/theme-scheme.css";
@import "tokens/tokens.css";
@import "tokens/motion.css";
@import "base/reset.css";
@import "base/utilities.css";
@import "animations/keyframes.css";
@import "layout/header.css";
@import "layout/hero.css";
@import "layout/work.css";
@import "components/heading-block.css";
@import "components/carousel.css";

body {
	background-color: var(--surface-primary);
	color: var(--text-primary);
	line-height: var(--line-height-tight);
	font-family: var(--font-family-sans-serif);

	transition:
		background-color var(--motion-duration-slow),
		color var(--motion-duration-slow);

	:has(input[name="menu-toggle"]:checked) & {
		overflow: hidden;
	}
}
.wrapper {
	overflow: clip;
}
section {
	padding-block: var(--spacing-lg);
	min-height: 100svh;
}
